# DEPRECATED as the service should be deployed on an Web application server   
b2access.authz.server.hostname=localhost
b2access.authz.server.port=8085

# Configuration of the local PDP
# This property is used to instantiate the PDP server as well as for the embedded PDP
b2access.authz.server.xacml.pdpConfig=src/main/conf/xacml/xacmlPdpConfig.xml
b2access.authz.server.xacml.policyDir=src/main/conf/xacml/policies

# Configuration of the remote PDP
# This property is used by a PEP to callout the remote PDP REST interface
b2access.authz.server.xacml.remotePdp.hostname=localhost
b2access.authz.server.xacml.remotePdp.port=8085
b2access.authz.server.xacml.remotePdp.address=https://localhost:8445/xacml/authorization/pdp

# DEPRECATED
# SSL Properties
# Credential type JKS or PKCS12
b2access.authz.server.ssl.credential.type=jks
b2access.authz.server.ssl.credential.path=src/main/certs/
b2access.authz.server.ssl.credential.password=the!uvos



