b2access.authz.server.hostname=localhost
b2access.authz.server.port=8085

# Configuration of the local PDP
# This property is used to instantiate the PDP server as well as for the embedded PDP
b2access.authz.server.xacml.pdpConfig=src/main/conf/xacml/xacmlPdpConfig.xml
b2access.authz.server.xacml.policyDir=src/main/conf/xacml/policies

# Configuration of the remote PDP
# This property is used by a PEP to callout the remote PDP REST interface
b2access.authz.server.xacml.remotePdp.hostname=localhost
b2access.authz.server.xacml.remotePdp.port=8085

